{
	"editorconfig":true,

  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "trailingComma": "all",
  "printWidth": 80,
  "arrowParens": "always",
  "proseWrap": "never",
  "bracketSpacing":true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}



